.page-enter-active,
.page-leave-active {
}
.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s, transform 0.4s;
  backface-visibility: hidden;
  opacity: 1;
}
.page-enter,
.page-leave-active {
  opacity: 0.5;
}
.df_text {
  letter-spacing: 0px;
}
